@import 'base';
@import 'components';
@import 'layouts';



.wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
    // padding: 6rem 0rem;
    // background-color: yellow;
}

.heading-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: auto;
    padding: 4rem;
    // background-color: aqua;

    h1 {
        font-size: 2.7rem;
        color: var(--color-primary);
    }

    .icon {

        &::before {
            position: relative;
            bottom: 0.4rem;
            right: 3rem;
            display: inline-block;
            content: "";
            width: 200px;
            height: 1px;
            background-color: var(--color-primary);
        }

        &::after {
            position: relative;
            bottom: 0.4rem;
            left: 3rem;
            display: inline-block;
            content: "";
            width: 200px;
            height: 1px;
            background-color: var(--color-primary);
        }

    }

    p {
        font-size: 1.8rem;
        margin: 3rem;
        color: var(--color-gray-dark-3);
    }

    ul {
        width: 43%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        li {
            font-weight: bold;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 7px;
            padding: 0.4rem 1.5rem;
            color: var(--color-gray-dark-1);
            transition: all .2s;

            &:hover {
                color: white;
                background: var(--color-primary);

            }

        }

    }

}

.navbar {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: rgba(#020F0F, 0.5);

    // background-color: black;
    z-index: 2;
    // box-shadow: 0 1rem 2rem var(--color-footerend);

    .list {
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
            .link {
                color: var(--color-w);
                transition: all .2s;

                &:hover {
                    color: var(--color-primary-light);
                }
            }
        }
    }
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius:  0 0 50% 50%;
    // clip-path:polygon(0 0, 100% 0, 25% 85vh, 0 100%) ;
    // clip-path: circle(65% at  50% 0);
    // -webkit-clip-path:circle(50 at 50% 0);
    border-radius: 60% 60% 70% 70% / 0px 0px 100% 100%;
}

.contentbox {
    margin-top: 5rem;
    text-align: center;
    width: 60%;
    height: 200px;
    // background-color: gainsboro;
    color: var(--color-w);

    &-heading {
        font-size: 5rem;
        letter-spacing: 1px;

    }

    &-para {
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin-top: 1rem;
    }

}

.section-cards {
    width: 100%;
    // height: 65vh;
    height: auto;
    padding: 6rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    // background-color: var(--color-gray-light-3);

}


.card {
    padding: 3rem;
    width: 250px;
    // height: 300px;
    height: auto;
    background-color: var(--color-w);
    box-shadow: 0 1rem 4rem var(--color-gray-light-4);
    transition: all .6s;


    .icon {
        font-size: 4rem;
        color: var(--color-primary-dark);
    }

    &-heading {
        margin-top: 1.5rem;
        font-size: 2.6rem;
        color: var(--color-primary-dark);
    }

    &-para {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.05);
    }

}

.section-video {
    width: 100%;
    // height: 80vh;
    height: auto;

    background-color: var(--color-gray-light-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0rem;

}

.featurebox {
    width: 1200px;
    // height: 500px;
    height: auto;
    background-color: var(--color-w);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-imgwrap {
    background-image: url("../images/br.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;

    img {
        width: 100%;
        height: 100%;
    }

    .round-back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 19%;
        border-radius: 100%;
        background-color: rgba(#3F3D56, 0.8);

        .round-in {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 70%;
            background-color: var(--color-primary);
            border-radius: 100%;
            box-shadow: 0 0rem 1rem var(--color-w);

            i {
                font-size: 2.5rem;
                border-radius: 100%;
                color: white;
                transition: all .2s;

                &:hover {
                    color: var(--color-primary-light);
                }
            }
        }
    }
}

.feature-contentwrap {
    width: 43%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;

    i {
        margin-top: 2rem;
        font-size: 5rem;
    }

    .portion1 {

        display: flex;

        .portion-inside {
            padding: 2rem;
        }
    }
}


.section-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    // background-color: blue;

}


.chart-wrap {
    margin: 5rem 0rem;
    width: 100%;
    height: auto;
    margin: 5 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
    // padding: 6rem 0rem;
    // background-color: yellow;


    .chart-img {
        width: 40%;
    }

    .chart-content {
        width: 58%;
        height: auto;
    }

    .chart-heading {
        color: var(--color-primary);
    }

    p {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    ul {
        margin: 2rem 2rem;

        li {
            list-style: disc;
            font-size: 1.7rem;
            font-weight: bold;
            color: var(--color-primary-light);
        }
    }

}

.section-newsletter {
    width: 100%;
    height: auto;
    padding: 4rem;
    background: var(--color-footer);
}

.news-list {


    .items {
        color: var(--color-gray-light-4);
        margin: 1rem;
        font-size: 1.4rem;

    }

    .items:first-child {
        font-size: 2.5rem;
        color: turquoise;
    }


}


.input-wrap {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .input {
        width: 100%;
        height: 5rem;
        border-radius: 150px;
        padding: 1.5rem;
        border: none;
        letter-spacing: 1px;

        &:focus {
            outline: none;
            color: var(--color-footer);
        }
    }

    button {
        position: absolute;
        right: 0;
        margin: .5rem;
        width: 20%;
        height: 4rem;
        border-radius: 150px;
        border: none;
        background-color: turquoise;
        color: var(--color-w);
        letter-spacing: 1px;
        transition: all .2s;

        &:hover {
            transform: translateY(1px);
        }
    }
}

.footermain {
    width: 100%;
    height: auto;
    padding: 6rem 0rem;
    background: var(--color-footer);

}


.footer-list {
    width: 20%;

    .footer-items {
        font-size: 1.4rem;
        padding: 0.6rem 0;
        // list-style-type  : disc;

        a {
            color: var(--color-w);

            i {
                margin: 0.5rem;
                font-size: 3rem;
                color: var(--color-footerend);

                &:hover {
                    color: turquoise;
                }


            }

        }

    }

    .footer-items:first-child {
        font-size: 2rem;
        list-style: none;
        font-weight: bold;
        color: turquoise;

    }

}

.footerend {
    width: 100%;
    // height: 10vh;
    height: auto;
    padding: 3rem 0rem;
    background: var(--color-footerend);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
        color: turquoise;
    }

    h6 {
        margin-top: 1rem;
    }

}


@include responsive($ipad-pro) {

    .wrap {
        max-width: 800px;
    }

    .card {
        margin-top: 6rem;
        width: 300px;
    }

    .chart-wrap {
        max-width: 900px;
    }

    .news-list {
        width: 40%;
    }

    .input-wrap {
        width: 50%;
    }

    .footer-list {
        .footer-items {
            a {
                i {
                    font-size: 2rem;
                }
            }
        }
    }

}

@include responsive($ipad) {


    .navbar {
        .wrap {
            flex-direction: column;


            .list {
                display: none;
                margin: 3rem;
                width: 80%;
                // flex: 0 0 80%;
            }
        }
    }

    .header {
        border-radius: 0% 0% 0% 0% / 0px 0px 0% 0%;

    }

    .wrap {
        flex-direction: column;
        max-width: 640px;
    }

    .featurebox {
        flex-direction: column;
    }

    .feature-imgwrap {
        width: 100%;
    }

    .feature-contentwrap {
        margin-top: 5rem;
        width: 70%;
    }

    .chart-wrap {
        flex-direction: column;


        .chart-content {
            text-align: center;
            margin: 5rem 0rem;
            width: 70%;
        }
    }

    .section-newsletter {
        text-align: center;
    }

    .input-wrap {
        width: 70%;
        margin-top: 3rem;
    }

    .footer-list {
        margin-top: 6rem;
        text-align: center;
        width: 100%;
    }

}

@include responsive($iphone-x) {

    .heading-wrap {
        p {
            font-size: 1.4rem;
        }
    }


    .contentbox {
        width: 95%;

        &-heading {
            font-size: 3rem;
        }

        &-para {
            font-size: 1.4rem;
        }
    }

    .feature-imgwrap {
        height: 300px;
    }

    .feature-contentwrap {
        width: 90%;

        p {
            font-size: 1.4rem;
        }
    }

    .input-wrap {
        width: 100%;

        button {
            width: 30%;

        }
    }

    .chart-wrap{
        margin: 1rem 0rem;
    }

}